* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1c1c1bff;
}

.app {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.field {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.fieldBorder {
  border: 1px solid #ce4a7eff;
  box-shadow: 0 0 5px #ce4a7eff;
}

.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: center;
}

.title {
  color: #ce4a7eff;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 2px #ce4a7eff;
}

.winner {
  color: #ce4a7eff;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 2px #ce4a7eff;
}

.start {
  margin: 20px auto 0 auto;
  width: 50%;
  padding: 10px 0 10px 0;
  border: 2px solid #ce4a7eff;
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

.start:hover {
  box-shadow: 0 0 5px #ce4a7eff;
  transform: scale(1.1);
  text-shadow: 0 0 5px white;
}

.square {
  box-sizing: border-box;
  border: 1px solid #ce4a7eff;
  box-shadow: inset 0 0 5px rgb(20, 20, 20);
  transition: all 0.1s;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  font-size: 5rem;
  color: #ce4a7eff;
  text-shadow: 0 0 2px #ce4a7eff;
}

.square:hover {
  box-shadow: inset 0 0 10px rgb(20, 20, 20), 0 0 5px #ce4a7eff;
}
